.signup-fullcard {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  overflow: hidden;
  border: none;
}

.signup-left {
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab");
  background-size: cover;
  background-position: center;
}

.signup-form {
  width: 100%;
  max-width: 380px;
}

.signup-fullcard {
  will-change: transform;
}
    
.signup-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeImg 0.6s ease-in;
  filter: blur(6px);
  transition: filter 0.6s ease;
}


.signup-img:loaded {
  filter: blur(0);
}

@keyframes fadeImg {
  from { opacity: 0; }
  to { opacity: 1; }
}
